/* VARIABLES */
:root {
  --primary: #ffc636;
  --secondary: #07083e;
  --gris: #2e2e2e;
  --black: #262729;
}

/* BODY */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* BASE BODY */

body {
  background: var(--black);
  overflow-x: hidden;
  font-family: "Rubik Regular";
}

/* FONTS */

@font-face {
  font-family: "Rubik Regular";
  src: url("./Rubik-VariableFont_wght.ttf");
}

h1,
h2,
h3,
h4 {
  color: #dddbff;
  font-weight: normal;
  line-height: 1.4em;
}

p,
a,
li {
  color: #9893d8;
  line-height: 1.4em;
  font-size: 1em;
}

h1,
h3 {
  font-size: 1.2em;
}
h2 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.1em;
}

.leading {
  font-size: 1.1em;
}

/* FORM */

.button {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
  font-size: 1em;
}

.button:hover {
  color: #222;
  background: var(--primary);
}

input,
textarea {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid #9893d8;
  color: #f2f2f2;
  font-size: 1em;
}

/*MOBILE STYLE */

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  box-sizing: border-box;
}

.grid-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  box-sizing: border-box;
}

#criptos {
  padding: 30px 20px;
  background: #07083e;
}

#criptos h3 {
  text-align: center;
}

#criptos p {
  text-align: center;
  margin: 0 20px;
}

#criptos ul {
  margin: 40px 0;
}

#criptos li {
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  grid-column: span 4;
  text-align: center;
}

#criptos img {
  height: 80px;
  margin: 10px auto;
}

#contact {
  padding: 30px 20px;
  background: #080936;
}

#contact h3,
#contact p {
  text-align: center;
  margin-bottom: 0;
}

#contact form {
  width: 80%;
  min-width: 400px;
  margin: 20px auto;
  text-align: center;
}

#contact li {
  padding: 10px;
  grid-column: span 6;
  text-align: center;
}

#contact input,
#contact textarea {
  width: 100%;
  margin: 10px 0;
}

#contact .button {
  margin-top: 10px;
}

/* PUBLICITY */
#publicity{
  text-align: center;
}

/* FOOTER */

footer {
  padding: 30px 20px;
  background-color: #14153d;
  background-size: 40%;
  background: no-repeat;
  background-position: top center;
}

footer .copyright {
  grid-column: 1/3;
  font-size: 0.8em;
}

footer .social {
  grid-column: 7/9;
  display: flex;
  justify-content: flex-end;
}

footer li {
  margin: 0 6px;
}

footer img {
  width: 20px;
}

/* NAVBAR */

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu ul a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#menu ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

#menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
}

#menu ul ul li:hover {
  background: var(--primary);
}

#menu ul ul li {
  float: none;
  background: var(--gris);
  width: 150px;
}

#menu ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}

#menu ul li:hover > ul {
  display: block;
}

/* CARD */

.text--medium {
  color: #9893d8;
  line-height: 1.4em;
  font-size: 1em;
}

.card__info {
  display: flex;
  align-self: end;
  align-items: center;
}

.card__price {
  margin-left: auto;
  padding: 5px 20px;
  background-color: var(--black);
  border-radius: 20px;
}

.btn {
  background-color: var(--black);
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--secondary);
}

/* HEADER */

header {
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.404);
}

.container {
  widows: 1280px;
  margin: auto;
}

.nav_checkbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.logo {
  text-decoration: none;
  border-bottom: 3px solid var(--primary);
  color: white;
  padding-left: 10px;
}

.tab-nav {
  outline: none;
  display: none;
}

.label {
  display: none;
  color: white;
}

.burger {
  width: 35px;
  height: 5px;
  background-color: white;
  margin-top: 5px;
}

.content_nav {
  grid-column: 3;
  list-style: none;
  margin: 0;
  padding: 0;
}

.content_nav li {
  display: inline-block;
  padding-right: 10px;
}

.content_nav li a {
  text-decoration: none;
  color: white;
  position: relative;
}

.content_nav li a::after {
  content: "";
  display: block;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  transform-origin: right;
  transform: scale(0, 1);
  transition: transform ease-in-out 0.5s;
}

.content_nav li a:hover::after {
  transform: scale(1, 1);
}

.content_section {
  height: 120vh;
  background-color: red;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-items: center;
  align-items: center;
}

/* MAPS */
#map {
  height: 100vh;
}

/* SEARCH */

#search {
  padding: 0 20px 20px 20px;
}

.wrapper {
  max-width: 450px;
  margin: 25px auto;
}

.wrapper .search-input {
  background: var(--black);
  width: 100%;
  border-radius: 2px;
  position: relative;
  box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, 0.2);
}

.search-input input {
  height: 55px;
  width: 82%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input .autocom-box {
  padding: 0;
  pointer-events: none;
  max-height: 280px;
}

.search-input.active input {
  border-radius: 5px 5px 0 0;
}

.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .autocom-box li {
  display: block;
}

.autocom-box li:hover {
  background: #d6d6d6;
}

.search-input .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 30px;
  color: black;
  cursor: pointer;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 770px) {
  .label {
    display: grid;
    cursor: pointer;
    grid-column: 3;
    padding-right: 10px;
  }

  .content_nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/4;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.6s;
  }

  .nav_checkbox input:checked ~ .content_nav {
    max-height: 500px;
  }

  .content_nav li {
    padding: 15px 0px;
  }

  #publicity{
    display: none;
  }
}

/*small tablet styles */

@media screen and (min-width: 620px) {
  #criptos {
    padding: 30px 100px;
  }

  footer {
    background-size: 20%;
  }

  #publicity{
    display: none;
  }
}

/*large tablets & laptop styles */

@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }

  .grid {
    width: 100%;
    min-width: 1060px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .grid-contact {
    width: 100%;
    min-width: 1060px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .leading {
    margin: 20px 0;
  }

  #criptos {
    padding: 30px 20px;
  }

  #criptos ul {
    margin: 40px auto;
  }

  #criptos li {
    grid-column: span 2;
  }

  #contact li {
    grid-column: span 1;
  }

  footer {
    padding: 40px 20px;
    background-size: 25%;
  }

  #publicity{
    display: none;
  }
}

/* desktop styles */

@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }

  #criptos,
  #contact {
    padding: 90px 0;
  }

  .leading {
    margin: 20px 0;
  }

  footer {
    padding: 80px 0;
    background-size: 30%;
  }

  footer img {
    width: 30px;
  }

  #publicity{
    display: block;
  }
}
